<div class="nav-bar logged">
  <div>
    <button *ngIf="!isLogged" (click)="navigateTo('login')">Login</button>
    <button *ngIf="!isLogged" (click)="navigateTo('register')">Register</button>
  </div>

  
    <ng-container *ngIf="isLogged" class="logged">
      <div>
        <button (click)="navigateTo('club-page')">Club page</button>
        <button (click)="navigateTo('eternal-ranklist')">Eternal ranklist</button>
        <button (click)="navigateTo('manager-profile')">Manager profile</button>
        <button (click)="navigateTo('past-results')">Past results</button>
        <button (click)="navigateTo('team-view')">Team view</button>
        <button (click)="navigateTo('training')">Training</button>
      </div>
      <div>
        <button (click)="logout()" class="logout-btn">Logout</button>
      </div>
      
    </ng-container>
  </div>
  