<div class="eternal-ranklist-main-container">
    <div class="header">Eternal Ranklist</div>
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Manager</th>
                <th>Team</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Jose Mourinho</td>
                <td>FC Bravo</td>
                <td>1500</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jane Smith</td>
                <td>FC Ruse</td>
                <td>1450</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Mike Johnson</td>
                <td>We Win</td>
                <td>1400</td>
            </tr>
        </tbody>
    </table>
</div>
