<div class="eternal-ranklist-main-container">
    <div class="header">Eternal Ranklist</div>
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Manager</th>
                <th>Team</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let team of eternalRanking; let i = index">
                <td>{{i+1}}</td>
                <td>{{team.managerFirstName}} {{team.managerLastName}}</td>
                <td>{{team.clubName}}</td>
                <td>{{team.points}}</td>
            </tr>
        </tbody>
    </table>
</div>
