.eternal-ranklist-main-container {
    height: 100vh;
    background: url('https://roto.com/uploads/Projects/hall-of-fame-headquarters/_1920x9999_fit_center-center_99_none/American-Home-Furnishings-Hall-of-Fame-Exhibition-Design-by-Roto-6.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

// header

.header {
    background: linear-gradient(120deg, rgb(63, 62, 62), rgb(40, 40, 51));
    padding: 10px 20px;
    border-radius: 25px;
    color: rgb(240, 204, 120);
    font-size: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}

// table

table {
    width: 50%;
    border-collapse: collapse;
    text-align: left;
}

th {
    background-color: darkgreen;
    color: white;
    padding: 10px;
}

td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
    background-color: #fdfffe;
}