<div class="main-club-page-container">
    <div class="club-page-grid-container">
        <div class="grid-box top-scorers-box">
            <div class="top-scorers-table">
                <table>
                    <thead>
                        <tr>
                            <th>Last Name</th>
                            <th>Goals Scored</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let player of topFiveGoalscoreres" (click)="navigateToPlayer('player-profile', player)">
                            <td>{{ player.firstName | capitalize }} <span class="last-name">{{ player.lastName | capitalize }}</span></td>

                            <td>{{player.goals}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="view-squad-btn" (click)="navigateTo('team-view')">View Squad</button>
        </div>
        <div class="grid-box last-match-box" *ngIf="lastGame">
            <div class="last-match-text">Last Result</div>
            <div class="teams-box">
                <div class="team">{{lastGame.homeTeamName}}</div>
                <div class="team">{{lastGame.awayTeamName}}</div>
            </div>
            <div class="result">
                <div class="score">{{lastGame.homeTeamGoals}}</div>
                <div>:</div>
                <div class="score">{{lastGame.awayTeamGoals}}</div>
            </div>
        </div>
        <div *ngIf="!lastGame" class="no-game last-match-box">
            <div>No Games</div>
        </div>
        <div class="grid-box logo-box">
            <img [src]="clubData?.logo ?? defaultClubLogo" alt="Team Logo" class="logo">
            <button class="edit-btn" (click)="editClub()">Edit club</button>
        </div>
        <div class="grid-box manager">
            <img [src]="userData?.profilePicture ?? defaultUserPic" alt="Manager Photo" class="manager-photo">
            <div class="manager-info">
                <h2 class="manager-name" (click)="navigateTo('manager-profile')">{{userData?.username}}</h2>
                <p class="manager-stats">
                    Games Played: 
                    <span class="games-number" (click)="navigateTo('past-results')">{{numberOfGames}}</span>
                </p>
                <p class="manager-stats">Current Points: <span>{{clubData?.points}}</span></p>
            </div>
        </div>        
        <div class="grid-box eternal-position">
            <p class="eternal-rank">Eternal Position: <span class="position" (click)="navigateTo('eternal-ranklist')">{{position}}</span></p>
        </div>        
        <div class="grid-box dashboard">
            <div *ngIf="isAdmin" class="training-btn admin" (click)="navigateTo('admin-panel')">Admin panel</div>
            <div class="training-btn" (click)="navigateTo('training')">Training</div>
            <div class="finances-view" (click)="navigateTo('manager-profile')">{{clubData?.finances | currencyFormat}}</div>
            <div class="home-btn" (click)="navigateTo('match-window')">Play a game</div>
        </div>
    </div>
</div>