<div class="player-main-container">
    <div class="player-container">
        <h2 class="player-title">Player Profile</h2>
        <div class="player-grid">
            <div class="label">First Name:</div> <div>{{player?.firstName ?? 'Unknown' | capitalize }}</div>
            <div class="label">Last Name:</div> <div>{{player?.lastName ?? 'Unknown' | capitalize }}</div>
            <div class="label">Country:</div> <div>{{ player?.nationality ?? 'Unknown' | capitalize }}</div>
            <div class="label">Club:</div> <div>FC Bravo</div>
            <div class="label">Position:</div> <div>{{player?.position}}</div>
            <div class="label">Skill level:</div> <div>{{player?.skill}}</div>
            <div class="label">Goals:</div> <div>{{player?.goals}}</div>
        </div>
    </div>
    <div class="btn-box">
        <button (click)="navigateTo('team-view')">View Team</button>
        <button (click)="navigateTo('training')">Train this player</button>
    </div>
</div>
