<div class="player-main-container">
    <div class="player-container">
        <h2 class="player-title">Player Profile</h2>
        <div class="player-grid">
            <div class="label">First Name:</div> <div>Petar</div>
            <div class="label">Last Name:</div> <div>Ivanov</div>
            <div class="label">Age:</div> <div>24</div>
            <div class="label">Country:</div> <div>Bulgaria</div>
            <div class="label">Club:</div> <div>FC Bravo</div>
            <div class="label">Position:</div> <div>ATT</div>
            <div class="label">Matches:</div> <div>32</div>
            <div class="label">Goals:</div> <div>12</div>
            <div class="label">ATT:</div> <div>12</div>
            <div class="label">MID:</div> <div>10</div>
            <div class="label">DEF:</div> <div>6</div>
            <div class="label">GK:</div> <div>1</div>
        </div>
    </div>
    <div class="btn-box">
        <button>View Team</button>
        <button>Train this player</button>
    </div>
</div>
