<div class="temporary"> 
    <button (click)="navigateTo('about-me')">About me</button>
    <button (click)="navigateTo('about-the-game')">About the game</button>
    <button (click)="navigateTo('club-page')">Club page</button>
    <button (click)="navigateTo('eternal-ranklist')">Eternal ranklist</button>
    <button (click)="navigateTo('')">Index</button>
    <button (click)="navigateTo('login')">Login</button>
    <button (click)="navigateTo('register')">Register</button>
    <button (click)="navigateTo('manager-profile')">Manager profile</button>
    <button (click)="navigateTo('match-window')">Match window</button>
    <button (click)="navigateTo('past-results')">Past results</button>
    <button (click)="navigateTo('player-profile')">Player profile</button>
    <button (click)="navigateTo('team-view')">Team view</button>
    <button (click)="navigateTo('training')">Training</button>
    <button (click)="navigateTo('transfer-window')">Transfer window</button>
    <button (click)="navigateTo('tralalalala')">Non-existent</button>
</div>
<router-outlet></router-outlet>
