<div class="team-view-main">
    <div class="team-view-container">
        <div class="players-container">
            <table>
                <thead>
                    <tr>
                        <th (click)="sortByFirstName()" class="sortable-table-header" [ngClass]="{'selected-header' : currentSortedHeader === 'firstName'}">First Name</th>
                        <th (click)="sortByLastName()" class="sortable-table-header" [ngClass]="{'selected-header' : currentSortedHeader === 'lastName'}">Last Name</th>
                        <th (click)="sortByPosition()" class="sortable-table-header" [ngClass]="{'selected-header' : currentSortedHeader === 'position'}">Position</th>
                        <th (click)="sortBySkill()" class="sortable-table-header" [ngClass]="{'selected-header' : currentSortedHeader === 'skill'}">Skill</th>
                        <th (click)="sortByCountry()" class="sortable-table-header" [ngClass]="{'selected-header' : currentSortedHeader === 'country'}">Country</th>
                        <th (click)="sortByGoals()" class="sortable-table-header" [ngClass]="{'selected-header' : currentSortedHeader === 'goal'}">Goals</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of clubPlayersData" (click)="navigateTo('player-profile', player)">
                        <td>{{player.firstName | capitalize}}</td>
                        <td>{{player.lastName | capitalize}}</td>
                        <td>{{player.position}}</td>
                        <td>{{player.skill}}</td>
                        <td>{{player.nationality | capitalize}}</td>
                        <td>{{player.goals}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
