<div class="team-view-main">
    <div class="team-view-container">
        <div class="players-container">
            <table>
                <thead>
                    <tr>
                        <th (click)="sortByFirstName()" class="sortable-table-header" [ngClass]="{'selected-header' : currentSortedHeader === 'firstName'}">First Name</th>
                        <th (click)="sortByLastName()" class="sortable-table-header" [ngClass]="{'selected-header' : currentSortedHeader === 'lastName'}">Last Name</th>
                        <th (click)="sortByPosition()" class="sortable-table-header" [ngClass]="{'selected-header' : currentSortedHeader === 'position'}">Position</th>
                        <th (click)="sortBySkill()" class="sortable-table-header" [ngClass]="{'selected-header' : currentSortedHeader === 'skill'}">Skill</th>
                        <th (click)="sortByCountry()" class="sortable-table-header" [ngClass]="{'selected-header' : currentSortedHeader === 'country'}">Country</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of clubPlayersData" (click)="navigateTo('player-profile', player)">
                        <td>{{player.firstName | capitalize}}</td>
                        <td>{{player.lastName | capitalize}}</td>
                        <td>{{player.position}}</td>
                        <td>{{player.skill}}</td>
                        <td>{{player.nationality | capitalize}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="top-scorers">
            <table>
                <thead>
                    <tr>
                        <th>Last Name</th>
                        <th>Goals Scored</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of topThreeGoalscoreres" (click)="navigateTo('player-profile', player)">
                        <td>{{player.firstName | capitalize}} {{player.lastName | capitalize}}</td>
                        <td>{{player.goals}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="appearances">
            <table>
                <thead>
                    <tr>
                        <th>Last Name</th>
                        <th>Appearances</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of topThreeAppearances" (click)="navigateTo('player-profile', player)">
                        <td>{{player.firstName | capitalize}} {{player.lastName | capitalize}}</td>
                        <td>{{player.appearances}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
