<div class="team-view-main">
    <div class="team-view-container">
        <div class="players-container">
            <table>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Position</th>
                        <th>Age</th>
                        <th>Country</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>Forward</td>
                        <td>25</td>
                        <td>USA</td>
                    </tr>
                    <tr>
                        <td>Alex</td>
                        <td>Smith</td>
                        <td>Midfielder</td>
                        <td>28</td>
                        <td>England</td>
                    </tr>
                    <tr>
                        <td>Lucas</td>
                        <td>Martinez</td>
                        <td>Defender</td>
                        <td>30</td>
                        <td>Argentina</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="top-scorers">
            <table>
                <thead>
                    <tr>
                        <th>Last Name</th>
                        <th>Goals Scored</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ronaldo</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>Messi</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>Mbappe</td>
                        <td>10</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="appearances">
            <table>
                <thead>
                    <tr>
                        <th>Last Name</th>
                        <th>Appearances</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Neymar</td>
                        <td>22</td>
                    </tr>
                    <tr>
                        <td>Pogba</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>Reus</td>
                        <td>11</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="countries">
            <table>
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>Number of Players</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>USA</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>Brazil</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td>Germany</td>
                        <td>4</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
