<div class="match-window-main-container">
    <div class="match-container">
        <div class="minute">'{{minuteOnBoard}}</div>
        <div class="teams-names">
            <div>{{gameData?.homeTeamName}}</div>
            <div>{{gameData?.awayTeamName}}</div>
        </div>
        <div class="score">
            <div class="home-team-score">{{homeTeamGoals}}</div>
            <div class="separator">:</div>
            <div class="away-team-score">{{awayTeamGoals}}</div>
        </div>
        <div class="match-log">
            <div *ngFor="let log of displayLogs">{{log.minute}} min - {{log.message}}</div>
        </div>
        <div class="button-container">
            <button class="direct-result" (click)="playGame()">Play</button>
        </div>
    </div>
</div>