<div class="match-window-main-container">
    <div class="match-container">
        <div class="date">26.02.2025</div>
        <div class="teams-names">
            <div>FC Bravo</div>
            <div>We Win</div>
        </div>
        <div class="score">
            <div class="home-team-score">2</div>
            <div class="separator">:</div>
            <div class="away-team-score">3</div>
        </div>
        <div class="match-log">
            <div>1 min - yellow card for S.Smith (FC Bravo)</div>
            <div>12 min - GOAL!!! S.Smith (FC Bravo) - 1:0</div>
            <div>24 min - GOAL!!! P.Ivanov (We Win) - 1:1</div>
            <div>31 min - yellow card for S.Anderson (FC Bravo)</div>
            <div>51 min - yellow card for A.Adams (We Win)</div>
            <div>66 min - GOAL!!! P.Ivanov (We Win) - 1:2</div>
            <div>71 min - GOAL!!! P.Ivanov (We Win) - 1:3</div>
            <div>77 min - yellow card for K.Son (FC Bravo)</div>
            <div>81 min - yellow card for E.Ericson (We Win)</div>
            <div>90 min - GOAL!!! K.Son (FC Bravo) - 2:3</div>
        </div>
    </div>
</div>