<div class="background">
    <div class="register-container">
        <h2>Register</h2>
        <form (submit)="onRegister()">
          <div class="input-group">
            <label for="username">Username</label>
            <input type="text" id="username" [(ngModel)]="username" name="username" required>
          </div>
      
          <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" [(ngModel)]="password" name="password" required>
          </div>

          <div class="input-group">
            <label for="repeat-password">Repeat password</label>
            <input type="password" id="repeat-password" [(ngModel)]="repeatPassword" name="repeat-password" required>
          </div>
          <div class="buttons-container">
            <button type="submit" class="register-button">Register</button>
            <button type="submit" class="login-button" (click)="navigateToLogin()">Login now</button>
          </div>
        </form>
      </div>
</div>
