<div class="manager-main-container">
    <div class="manager-grid-container">
        <div class="grid-box details-view">
            <img [src]="userData?.profilePicture ?? defaultUserPic" alt="Manager Photo" class="photo">
            <div class="info">
                <p class="details">First name: <span>{{userData?.firstName}}</span></p>
                <p class="details">Last name: <span>{{userData?.lastName}}</span></p>
                <p class="details">E-mail: <span>{{userData?.email}}</span></p>
            </div>
            <button class="edit-btn" (click)="navigateTo('edit-profile')">Edit profile</button>
        </div> 
        <div class="grid-box details-view">
            <img [src]="clubData?.logo ?? defaultClubLogo" alt="Manager Photo" class="photo">
            <div class="info">
                <p class="details">Club name: <span>{{clubData?.clubName}}</span></p>
                <p class="details">Eternal rank: <span (click)="navigateTo('eternal-ranklist')" class="rank-number">{{position}}</span></p>
                <p class="details">Created on: <span>{{clubData?.createdOn}}</span></p>
            </div>
        </div>
        <div class="grid-box finances-view">
            <p class="header">Current Finances</p>
            <p class="amount">{{clubData?.finances | currencyFormat}}</p>
            <div class="finances-btns-box">
                <button (click)="increaseFinances(500)">+ 500 €</button>
                <button (click)="increaseFinances(1000)">+ 1,000 €</button>
                <button (click)="increaseFinances(10000)">+ 10,000 €</button>
            </div>
        </div>
        <div class="grid-box action-btns-box">
            <button (click)="navigateTo('club-page')">Club page</button>
            <button (click)="navigateTo('team-view')">Team view</button>
            <button (click)="navigateTo('match-window')">Play a game</button>
        </div>
    </div>
</div>
