<div class="main-container">
    <div class="edit-profile-container">
        <h2>Edit Club Info</h2>
        <form [formGroup]="clubForm" (ngSubmit)="onSubmit()">
          
          <label>Club's Name</label>
          <input type="text" formControlName="clubName" placeholder="Enter club's name">
    
          <label>Club's Logo</label>
          <input type="url" formControlName="clubLogo" placeholder="Enter url">
          
          <button type="submit" [disabled]="clubForm.invalid">Save</button>
        </form>
      </div>
</div>
<app-pop-up *ngIf="showSuccessMessage"></app-pop-up>