.background {
    min-height: calc(100vh - 110px);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: url('https://img.fcbayern.com/image/upload/cms/public/images/allianz-arena/wallpaper/wallpaper-01.jpg') no-repeat center center/cover;
}


* {
    box-sizing: border-box;
}
  
.login-container {
    margin-top: -50px;
    width: 100%;
    max-width: 350px;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;
    
}
  

.input-group {
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
}
  
label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
}
  

input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #539e9b;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    outline: none;
}
  

input:focus {
    border-color: #5fb6b2;
    background: rgba(255, 255, 255, 0.2);
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
  
.login-button {
    padding: 8px 15px;
    font-size: 19px;
    border-radius: 5px;
    background: linear-gradient(127deg, #78d666, #d2f552);
    color: rgb(54, 52, 52);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.login-button:hover {
    background: linear-gradient(127deg, #5cb44b, #a8e23c);

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.login-button:active {
    background: linear-gradient(127deg, #4a9e3b, #8cc928);
    transform: scale(0.98);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.register-button {
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 5px;
    background: linear-gradient(127deg, #ffaf7a, #ff785a);
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.register-button:hover {
    background: linear-gradient(127deg, #ff9062, #ff5733);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

.register-button:active {
    background: linear-gradient(127deg, #e05530, #c44426);
    transform: scale(0.97);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
