.success-popup {
    position: fixed;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 128, 0, 0.8);
    padding: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    animation: fadeOut 2s ease-in-out;
  }
  
  .success-circle {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  
  @keyframes fadeOut {
    0% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
  }