<div class="main-container">
    <div class="edit-profile-container">
        <h2>Edit Profile</h2>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          
          <label>First Name</label>
          <input type="text" formControlName="firstName" placeholder="Enter first name">
          
          <label>Last Name</label>
          <input type="text" formControlName="lastName" placeholder="Enter last name">
          
          <label>Email</label>
          <input type="email" formControlName="email" placeholder="Enter email">
    
          <label>Profile Pic</label>
          <input type="url" formControlName="profilePicture" placeholder="Enter url">
          
          <button type="submit" [disabled]="profileForm.invalid">Save</button>
        </form>
      </div>
</div>