<div class="about-me-container">
    <div class="profile-card">
        <div class="profile-image">
            <img src="https://avatars.githubusercontent.com/u/110535908?s=400&u=c7f072b3daa3ab4c49185a3d1c065aace2f33981&v=4" alt="Profile Picture">
        </div>
        <div class="profile-details">
            <h1 class="name">Georgi Iliev</h1>
            <p class="email">{{email}}</p>
            <p class="bio">{{text}}</p>
        </div>
    </div>

    <div class="social-links">
        <h3>Connect with me:</h3>
        <a href="mailto:georgi.iliev9191@gmail.com" class="social-link">Email Me</a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/georgi-iliev-05661584/" class="social-link">LinkedIn</a>
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/TrueGeorgi" class="social-link">GitHub</a>
    </div>
</div>
